@import url('https://fonts.googleapis.com/css?family=Teko');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
html{
   /* background: url(images/background.png);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;*/
}
body{
    margin: 0;
    font-family: 'Teko', sans-serif;
   /* font-size: 30px;*/
}
header{
    padding: 20px 0;
    background-color: #161417;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
}
.container{
    padding: 0 20px;
    max-width: 960px;
    margin: 0 auto;
}
.logo-box{
    float: left;
    margin-right: 20px;
}
.logo-box a{
    outline: none;
    display: block;
}
.logo-box img{
    display: block;
}
nav{
    overflow: hidden;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
nav li{
    display: inline-block;
    margin-left: 25px;
    height: 70px;
    line-height: 70px;
    transition: .5s linear;
}
nav a{
    text-decoration: none;
    display: block;
    position: relative;
    color: #ed4630;
    text-transform: uppercase;
}
nav a:after{
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 15px;
    background: #2a6b6f;
    transition: width .5s linear;
}
nav a:hover:after{
    width: 100%;
}

@media screen and (max-width : 660px){
    header{
        text-align: center;
    }
    .logo-box{
        float: none;
        display: inline-block;
        margin: 0 0 16px 0;
    }
    ul{
        float: none;
    }
    nav li:first-of-type{
        margin-left: 0;
    }
}
@media screen and (max-width : 550px){
    nav{
        overflow: visible;
    }
    nav li{
        display: block;
        margin: 0;
        height: 40px;
        line-height: 40px;
    }
    nav li:hover{
        background: rgba(0, 0, 0, .1);
    }
    nav a:after{
        content: none;
    }
}
img.logo{
    max-width: 100%;
    height: 50%;
    width: 50%;
}
div#toplogo{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#2a6b6f, #161417);
}
div.license{
    color: #ed4630;
    text-align: center;
    bottom: 0;
    font-size: 25px;
    background-color: #161417;
    width: 100%;
    margin: auto;
}
a{
    color: #2a6b6f;
}
div.body{
    background-color: #161417;
    width: 95%;
    margin: auto;
}
p{
    font-family: 'Permanent Marker', cursive;
    color: #ed4630;
    font-size: 22px;
    line-height: 2.0;
    margin: 0;
    padding: 0;
    text-indent: 50px;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:0.5%;
    text-align:justify;
    }
h1{
    font-family: 'Teko', sans-serif;
    font-size: 80px;
    color: #2a6b6f;
    line-height: 1.0;
    text-align:center;
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
}